# Project
public/
build/fusio/
cache/
vendor/

# IDE
.idea/
*.iml
*.iws
*.ipr
.run/
.vscode/
.classpath
.project
.settings/
*.swp
*.swo
*~
.cursorrules

# OS
.DS_Store
Thumbs.db

# Logs
logs/
log/
*.log

# Docker
docker/

# Data
data/

# Library directories
lib/

# Enviroment
.env*